.body {
  background-color: white;
  text-align: center;
  align-content: center;
  border-radius: 999px;
  height: 3rem;
  box-shadow: -2px 2px 8px #c0bbbb;
  aspect-ratio: 1/1;
}

.extracted {
  background-color: orange;
}
